@model List<Category>

<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h1 class="text-primary">
				Список Категорій
			</h1>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Category" asp-action="Create" class="btn btn-primary fs-4">
				<i class="bi bi-plus-square-fill"></i> Створити Нову Категорію
			</a>
		</div>
	</div>
<table class="table table-bordered border-primary table-striped table-light ">
	<thead class="border-2">
		<tr>
			<th class="p-3 fs-5">
				Назва Категорії
			</th>
			<th class="p-3 fs-5">
				Порядок Відображення
			</th>
		</tr>
	</thead>
	<tbody class="border-2">
			@foreach (var obj in Model.OrderBy(u=>u.DisplayOrder))
			{
			<tr>
				<td class="ps-3">
						@obj.Name
				</td>
				<td class="ps-3">
						@obj.DisplayOrder
				</td>
			</tr>
			}
	</tbody>
</table>
</div>