@page
@model Disable2faModel
@{
    ViewData["Title"] = "Вимкнути двофакторну аутентифікацію (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Ця дія лише вимикає 2FA.</strong>
    </p>
    <p>
        Вимкнення 2FA не змінює ключі, що використовуються в додатках для аутентифікації. Якщо ви хочете змінити ключ,
        що використовується в додатку для аутентифікації, ви повинні <a asp-page="./ResetAuthenticator">скинути ваші ключі аутентифікації.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Вимкнути 2FA</button>
    </form>
</div>
