@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Створення кодів відновлення двофакторної аутентифікації (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Збережіть ці коди в безпечному місці.</strong>
    </p>
    <p>
        Якщо ви втратите свій пристрій і не матимете кодів відновлення, ви втратите доступ до свого облікового запису.
    </p>
    <p>
        Генерація нових кодів відновлення не змінює ключі, що використовуються в додатках для аутентифікації. Якщо ви хочете змінити ключ,
        що використовується в додатку для аутентифікації, ви повинні <a asp-page="./ResetAuthenticator">скинути ваші ключі аутентифікації.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Створити коди відновлення</button>
    </form>
</div>
