@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Скидання ключа аутентифікатора";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Якщо ви скинете ключ аутентифікатора, ваш додаток аутентифікації не буде працювати, поки ви його не переконфігуруєте.</strong>
    </p>
    <p>
        Цей процес вимикає двофакторну аутентифікацію до того моменту, поки ви не підтвердите свій додаток аутентифікації.
        Якщо ви не завершите налаштування додатка аутентифікації, ви можете втратити доступ до свого облікового запису.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Скинути ключ аутентифікатора</button>
    </form>
</div>
