@model Product

<form method="post">
	<input asp-for="Id" hidden />
	<div class="border border-primary p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Видалити товар</h2>
			<hr />
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Title" class="p-0"></label>
			<input asp-for="Title" disabled class="form-control border-primary" />
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Desctiption" class=" p-0"></label>
			<textarea asp-for="Desctiption" class="form-control border-primary"></textarea>
		</div>
		<div class="mb-3 p-1">
			<label asp-for="VendorCode" class=" p-0"></label>
			<input asp-for="VendorCode" disabled class="form-control border-primary" />
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Brand" class=" p-0"></label>
			<input asp-for="Brand" disabled class="form-control border-primary" />
		</div>
		<div class="mb-3 p-1">
			<label asp-for="ListPrice" class=" p-0"></label>
			<input asp-for="ListPrice" disabled class="form-control border-primary" />
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Price" class=" p-0"></label>
			<input asp-for="Price" disabled class="form-control border-primary" />
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-danger form-control">Видалити</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">
					Назад до Списку Товарів
				</a>
			</div>
		</div>
	</div>
</form>
