@model Product

<form method="post">
	<input asp-for="Id" hidden />
	<div class="border border-primary p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Редагувати категорію</h2>
			<hr />
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Title" class="p-0"></label>
			<input asp-for="Title" class="form-control border-primary" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Desctiption" class=" p-0"></label>
			<textarea asp-for="Desctiption" class="form-control border-primary"></textarea>
			<span asp-validation-for="Desctiption" class="text-danger"></span>
		</div>
		<div class="mb-3 p-1">
			<label asp-for="VendorCode" class=" p-0"></label>
			<input asp-for="VendorCode" class="form-control border-primary" />
			<span asp-validation-for="VendorCode" class="text-danger"></span>
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Brand" class=" p-0"></label>
			<input asp-for="Brand" class="form-control border-primary" />
			<span asp-validation-for="Brand" class="text-danger"></span>
		</div>
		<div class="mb-3 p-1">
			<label asp-for="ListPrice" class=" p-0"></label>
			<input asp-for="ListPrice" type="number" class="form-control border-primary" />
			<span asp-validation-for="ListPrice" class="text-danger"></span>
		</div>
		<div class="mb-3 p-1">
			<label asp-for="Price" class=" p-0"></label>
			<input asp-for="Price" type="number" class="form-control border-primary" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary form-control">Оновити</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">
					Назад до Списку Товарів
				</a>
			</div>
		</div>
	</div>
</form>
@section Scripts
{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}