@model List<Product>
<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h1 class="text-primary">
				Список Товарів
			</h1>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Product" asp-action="Upsert" class="btn btn-primary fs-4">
				<i class="bi bi-plus-square-fill"></i> Створити Нову Категорію
			</a>
		</div>
	</div>
	<table id="tblData" class="table table-bordered table-striped" style="width:100%">
		<thead class="border-2 ">
			<tr>
				<th class="p-2 fs-6">
					Назва Товару
				</th>

				<th class="p-2 fs-6">
					Артикул
				</th>
				<th class="p-2 fs-6">
					Назва Бренду
				</th>
				<th class="p-2 fs-6">
					Ціна за Прейскуратном
				</th>
				<th class="p-2 fs-6">
					Ціна
				</th>
				<th class="p-2 fs-6">
					Категорія
				</th>
				<th class="p-2 fs-6">
					Модель Авто
				</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>
@section Scripts {
	<script src="~/js/product.js"></script>
}