@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження реєстрації";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            У цьому додатку наразі не налаштований реальний відправник електронної пошти, див. <a href="https://aka.ms/aspaccountconf">цю документацію</a> щодо налаштування реального відправника електронної пошти.
            Зазвичай це відправлялося по електронній пошті: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Натисніть тут, щоб підтвердити свій обліковий запис</a>
        </p>
    }
    else
    {
        <p>
            Будь ласка, перевірте свою електронну пошту, щоб підтвердити свій обліковий запис.
        </p>
    }
}

