@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Підтвердження скидання пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль був скинутий. Будь ласка, <a asp-page="./Login">натисніть тут, щоб увійти</a>.
</p>
